.main-window {
    position: relative;
    height:80vmin;
    width:80vmin;
    margin:auto;
    background-color:black;
    border:4px solid white;
}

.chat-thread {
    margin:0;
    position: absolute;
    left:5px;
    right:5px;
    top:5px;
    bottom:75px;
    background-color:transparent;
    overflow-y: auto;
    color:green;
    padding:25px 50px;
}

.chat-thread li.system {
    color:cadetblue;
}

.chat-thread li.self {
    color:gray;
}

.chat-input {
    margin:0;
    position: absolute;
    left:5px;
    bottom:5px;
    width:calc(100% - 30px);
    height:40px;
    border:none;
    border-top:1px solid green;
    background-color:transparent;
    color:green;
    padding:10px;
}

.chat-input:focus {
    outline:none;
}